In [1]:
import sys
sys.path

['/home/james/language-detection',
 '/home/james/miniconda3/envs/language_detection/lib/python311.zip',
 '/home/james/miniconda3/envs/language_detection/lib/python3.11',
 '/home/james/miniconda3/envs/language_detection/lib/python3.11/lib-dynload',
 '',
 '/home/james/miniconda3/envs/language_detection/lib/python3.11/site-packages']

In [2]:
import pyarrow as pa

In [4]:
import pandas as pd
# Load Parquet data
DATA_FOLDER = './datasets/'
PATHS = [DATA_FOLDER + 'CL_it-en.parquet', DATA_FOLDER + 'Flores7Lang.parquet']
data = pd.read_parquet(PATHS[0])
# Now, you can use the `data` DataFrame to analyse and manipulate the data.

In [5]:
data.head()

,it,en
0,Ripresa della sessione,Resumption of the session
1,Dichiaro ripresa la sessione del Parlamento eu...,I declare resumed the session of the European ...
2,Come avrete avuto modo di constatare il grande...,"Although, as you will have seen, the dreaded '..."
3,Avete chiesto che si tenesse una discussione s...,You have requested a debate on this subject in...
4,"Nel frattempo è mio desiderio, come del resto ...","In the meantime, I should like to observe a mi..."

In [6]:
data['it']

0                                     Ripresa della sessione
1          Dichiaro ripresa la sessione del Parlamento eu...
2          Come avrete avuto modo di constatare il grande...
3          Avete chiesto che si tenesse una discussione s...
4          Nel frattempo è mio desiderio, come del resto ...
                                 ...
1878571    Inoltre, nonostante siano assenti, vorrei ring...
1878572    Non riaprirò il dibattito "millennio sì, mille...
1878573                          Interruzione della sessione
1878574    Dichiaro interrotta la sessione del Parlamento...
1878575                       (La seduta termina alle 10.50)
Name: it, Length: 1878576, dtype: object

In [7]:
data.columns

Index(['it', 'en'], dtype='object')

In [8]:
data.info

<bound method DataFrame.info of                                                         it  \
0                                   Ripresa della sessione
1        Dichiaro ripresa la sessione del Parlamento eu...
2        Come avrete avuto modo di constatare il grande...
3        Avete chiesto che si tenesse una discussione s...
4        Nel frattempo è mio desiderio, come del resto ...
...                                                    ...
1878571  Inoltre, nonostante siano assenti, vorrei ring...
1878572  Non riaprirò il dibattito "millennio sì, mille...
1878573                        Interruzione della sessione
1878574  Dichiaro interrotta la sessione del Parlamento...
1878575                     (La seduta termina alle 10.50)

                                                        en
0                                Resumption of the session
1        I declare resumed the session of the European ...
2        Although, as you will have seen, the dreaded '...
3        You have requested a debate on this subject in...
4        In the meantime, I should like to observe a mi...
...                                                    ...
1878571                                               None
1878572                                               None
1878573                                               None
1878574                                               None
1878575                                               None

[1878576 rows x 2 columns]>

In [9]:
data['it_len_of_sen'] = data['it'].apply(lambda s : len(s))
data['it_len_of_sen']

0           22
1          182
2          211
3          112
4          224
          ...
1878571     90
1878572    194
1878573     27
1878574     55
1878575     30
Name: it_len_of_sen, Length: 1878576, dtype: int64

In [33]:
data.head()

,it,en,len_of_sen,it_len_of_sen
0,Ripresa della sessione,Resumption of the session,22,22
1,Dichiaro ripresa la sessione del Parlamento eu...,I declare resumed the session of the European ...,182,182
2,Come avrete avuto modo di constatare il grande...,"Although, as you will have seen, the dreaded '...",211,211
3,Avete chiesto che si tenesse una discussione s...,You have requested a debate on this subject in...,112,112
4,"Nel frattempo è mio desiderio, come del resto ...","In the meantime, I should like to observe a mi...",224,224

In [10]:
data['it_len_of_sen'].mean()

170.8386165904387

In [45]:
data['en'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1878576 entries, 0 to 1878575
Series name: en
Non-Null Count    Dtype
--------------    -----
1860064 non-null  object
dtypes: object(1)
memory usage: 14.3+ MB

In [13]:
data[data['en'].isnull() == True]

,it,en,it_len_of_sen
1860064,Recentemente abbiamo votato per il rinnovo del...,None,162
1860065,"Concludendo, a mio modo di vedere, uno scambio...",None,354
1860066,"Signor Presidente, il Trattato di Amsterdam st...",None,242
1860067,Sia nella comunicazione della Commissione euro...,None,224
1860068,Esiste un grosso pericolo che gli altri effett...,None,105
...,...,...,...
1878571,"Inoltre, nonostante siano assenti, vorrei ring...",None,90
1878572,"Non riaprirò il dibattito ""millennio sì, mille...",None,194
1878573,Interruzione della sessione,None,27
1878574,Dichiaro interrotta la sessione del Parlamento...,None,55
1878575,(La seduta termina alle 10.50),None,30

In [25]:
data[data['it'].isnull() == True]

Empty DataFrame
Columns: [it, en, it_len_of_sen]
Index: []

In [23]:
# new df for non none
words_df = data[(data['en'].isnull() == False) & (data['it'].isnull() == False)]

In [24]:
len(words_df)

1860064

In [28]:
import re

In [37]:
words_df['en'].apply(lambda w : len(set(re.sub(r'[^\w\s]', '',w).split()))).mean()

22.344514489824007

In [38]:
words_df['it'].apply(lambda w : len(set(re.sub(r'[^\w\s]', '',w).split()))).mean()

22.96809733428527